<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="connectionString" value="server=(local);database=studentmanage;uid=stu_users;pwd=123456" />
    <add key="connectionString_a" value="server=(local);database=studentmanage;uid=管理员;pwd=" />
    <add key="connectionString_s" value="server=(local);database=studentmanage;uid=学生;pwd=123456" />
    <add key="connectionString_t" value="server=(local);database=studentmanage;uid=教师;pwd=123456" />
    <add key="connectionStringLI" value="server=(local);database=studentmanage;" />
  </appSettings>
</configuration>